@model IEnumerable<ComplejoDeCines.Pelicula>

@{
    ViewBag.Title = "inicio";
   
}

@section title  {
    <title>Administraciòn de películas</title>
}
@section header{
    <div class="page-header">
        <h3>Gestión de películas</h3>
    </div>
}
@section body
    {
      <p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Imagen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duracion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCarga)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Calificacione.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genero.Nombre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duracion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCarga)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calificacione.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero.Nombre)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdPelicula }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdPelicula }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdPelicula })
            </td>
        </tr>
    }

</table>




    @*<ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#">Seleccione una opcion</a></li>
        <li>@Html.ActionLink("Nueva película", "CrearPelicula", "Administracion", null, null)</li>
    </ul>
    <div>
        <button type="button" onclick="location.href='@Url.Action("MenuPrincipal", "Administracion")'" class="btn btn-danger">Volver</button>

    </div>*@

    }







