@{
    ViewBag.Title = "Peliculas";
}

@section title  {
    <title>Administración de películas</title>
}
@section header{
    <div class="page-header text-center">
        <h3>Gestión de Peliculas</h3>
    </div>
}
@section body

    {
    <div class="row">
        <div>
            <div class="row">
                <div class="col-lg-3 text-center">Nombre</div>
                <div class="col-lg-1 text-center">Calificacion</div>
                <div class="col-lg-1 text-center">Género</div>
                <div class="col-lg-1 text-center">Duración</div>
                <div class="col-lg-3 text-center">Fecha de Carga</div>
                <div class="col-lg-1 text-center"></div>
            </div>
            @foreach (Pelicula pelicula in ViewBag.Peliculas)
            {
                <div class="row">
                    <div class="col-lg-3 text-center">@pelicula.Nombre</div>
                    <div class="col-lg-1 text-center">@pelicula.IdCalificacion</div>
                    <div class="col-lg-1 text-center">@pelicula.IdGenero</div>
                    <div class="col-lg-1 text-center">@pelicula.Duracion</div>
                    <div class="col-lg-3 text-center">@pelicula.FechaCarga</div>
                    <div class="col-lg-1 text-center"><a href="./ModificarPelicula?IdPelicula=@pelicula.IdPelicula" class="btn btn-warning">Editar</a></div>
                </div>
            }
        </div>
        <div class="row text-center">
            <button type="button" onclick="location.href='@Url.Action("NuevaPelicula", "Administracion")'" class="btn btn-success">Nuevo</button>
            <button type="button" onclick="location.href='@Url.Action("MenuPrincipal", "Administracion")'" class="btn btn-danger">Volver al Inicio</button>
        </div>
    </div>
}






