@{
    ViewBag.Title = "Sedes";
}

@section title  {
    <title>Administración de sedes</title>
}
@section header{
    <div class="page-header text-center">
        <h3>Gestión de sedes</h3>
    </div>
}
@section body
    
    {
        <div class="row">
            <div>
                <div class="row">
                    <div class="col-lg-3 text-center">Nombre</div>
                    <div class="col-lg-3 text-center">Direccion</div>
                    <div class="col-lg-3 text-center">Precio Entrada</div>
                    <div class="col-lg-3 text-center"></div>
                </div>
                @foreach (Sede sede in ViewBag.Sedes)
                {
                    <div class="row">
                        <div class="col-lg-3 text-center">@sede.Nombre</div>
                        <div class="col-lg-3 text-center">@sede.Direccion</div>
                        <div class="col-lg-3 text-center">$ @sede.PrecioGeneral</div>
                        <div class="col-lg-3 text-center"><a href="./ModificarSede?IdSede=@sede.IdSede" class="btn btn-warning">Editar</a></div>
                    </div>
                }
            </div>
            <div class="row text-center">
                <button type="button" onclick="location.href='@Url.Action("CrearSede", "Administracion")'" class="btn btn-success">Nuevo</button>
                <button type="button" onclick="location.href='@Url.Action("MenuPrincipal", "Administracion")'" class="btn btn-danger">Volver al Inicio</button>
            </div>
        </div>
    }







